head {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Spectral', serif;
}

:root {
  --box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);;
}

section {

}

#top-nav {
  background-color: steelblue;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
}

#nav-link-container {
  display: flex;
  flex-direction: row;
  gap: 1.2vw;
  font-size: max(1.2vw, 15px);
}

#top-nav > a{
  margin: 0;
  padding: 0;
}

#nav-link {
  padding: 0.7vw;
  margin: 0;
  color: white;
}

#nav-link:link {
  color: white;
  text-decoration: none;
}

#nav-link:visited {
  color: white;
  text-decoration: none;
}

#nav-link:hover{
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.838);
  border-radius: 15px;
  text-decoration: none;
}

#nav-link:hover #nav-content {
  display: inherit;
}

#nav-content {
  text-align: center;
  display: none;
  font-size: max(1.2vw, 12px);
}

#nav-content:hover {
  border-radius: 10px;
  padding: 1px;
  background-color: steelblue;
  color: white;
}

#slideshow-container {
  margin: max(1vw, 10px);
  box-shadow: var(--box-shadow);
  background: aqua !important;
}